body {
    font-family: 'Fira Sans', sans-serif;
}

.banner {
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    padding: 100px 80px;
    border-radius: 24px;
}
.banner-content {
    max-width: 622px;
}

.banner-title {
    font-size: 24px;
}

.banner-description {
    font-weight: bold;
    font-size: 56px;
}

.btn-primary {
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
}